<h2 class="mb-4 text-center">Edit Profile</h2>

<div class="row justify-content-center">
  <div class="col-md-6">

    <%= form_with model: @user, local: true do |f| %>

      <div class="mb-3">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: "form-control" %>
      </div>

      <hr>

      <h5>Address</h5>

      <div class="mb-3">
        <%= f.label :street_name, "Street" %>
        <%= f.text_field :street_name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :province_id, "Province" %>
        <%= f.collection_select :province_id, Province.all, :id, :name, {}, class: "form-select" %>
      </div>

      <div class="mb-3">
        <%= f.label :postal_code %>
        <%= f.text_field :postal_code, class: "form-control" %>
      </div>

      <%= f.submit "Update Profile", class: "btn btn-primary w-100" %>

    <% end %>

  </div>
</div>